%u-button {
	@apply px-4;
	@apply font-bold;
	@apply text-white;
	@apply text-center;

	border-radius: 25px;
}

.u-button--lg {
	@extend %u-button;
	@apply py-4;
}

.u-button--sm {
	@extend %u-button;
	@apply py-2;
}
