.c-form-home {

	form {

		li.gfield {
			padding: 0 !important;
		}

		label {
			display: none !important;
		}

		input, select, textarea {
			@apply rounded;
			padding: 8px 14px !important;
			width: 100% !important;

			&:focus {
				outline: none !important;
			}
		}

		select {
			height: 41px;
		}

		input[type=submit] {
			background: rgba(0, 0, 0, 0.25);
			border-radius: 25px;
			cursor: pointer;
			display: block !important;
			color: white;
			margin: 0 auto !important;
			margin-bottom: 2rem !important;
			padding: 12px 20px !important;
			width: 150px !important;
		}
	}
}

#gform_fields_1 {
    @screen md {
		display: grid;
	    grid-column-gap: 1rem;
		grid-template: "a b" "c d" "e e" "f f";
	}
}

#field_1_1 { grid-area: a; }
#field_1_2 { grid-area: b; }
#field_1_3 { grid-area: c; }
#field_1_4 { grid-area: d; }
#field_1_5 { grid-area: e; }
#field_1_6 { grid-area: f; }
