.c-feedback {
	@apply block;
	@apply fixed;
	@apply z-20;

	right: 0;
	bottom: 25%;

	background-color: shade(#08b8b0, 25%);

	@apply rounded-t;
	@apply p-4;
	@apply text-sm;
	@apply text-white;
	@apply tracking-wider;
	@apply uppercase;

	transform-origin: right bottom;
	transform: rotate(-90deg);
}

.c-feedback__wrap {
	@apply hidden;
}

.c-feedback__modal {
	@apply fixed;
	@apply inset-0;
	@apply z-40;

	background: rgba(#1a202c, 0.9);

	@apply flex;
	@apply items-center;
	@apply justify-center;
}

.c-feedback__box {
	@apply bg-turquoise;
	@apply px-8;
	@apply py-10;
	@apply pb-8;
	@apply rounded;

	form {

		.gform_footer {
			margin: 0 !important;
		}

		li.gfield {
			padding: 0 !important;
		}

		label {
			display: none !important;
		}

		input, select, textarea {
			@apply rounded;
			padding: 8px 14px !important;
			width: 100% !important;

			&:focus {
				outline: none !important;
			}
		}

		select {
			height: 41px;
		}

		input[type=submit] {
			background: rgba(0, 0, 0, 0.25);
			border-radius: 25px;
			cursor: pointer;
			display: block !important;
			color: white;
			margin: 0 auto !important;
			padding: 12px 20px !important;
			width: 150px !important;
		}
	}
}
