.c-hero {
	.container {
		@apply py-32;

		@screen md {
			padding: 175px 0 225px;
		}
	}

	h1 {
		@apply text-4xl;
		@apply text-white;
		@apply mb-0;

		@screen md {
			@apply text-6xl;
		}
	}
}

.slick-arrow {
	position: absolute;
	top: 50%;
	color: white;
	display: block;
	font-size: 60px;
	@apply z-20;
	margin-top: -30px;
	cursor: pointer;
}

.slick-prev {
	left: 0;
	@apply ml-6;
}

.slick-next {
	right: 0;
	@apply mr-6;
}
