ul.c-menu-desktop {

	@apply font-bold;
	@apply hidden;
	@apply mb-0;
	@apply text-sm;
	@apply uppercase;

	@screen md {
		@apply flex;
		@apply items-center;
	}

	li {
		position: relative;
		ul.children {
			@apply rounded;
			background: white;
			padding: 15px;
			display: none;
			position: absolute;
			margin-left: -15px;
			z-index: 20;
			width: 175px;
			li {
				@apply text-xs;
				display: block;
				margin: 0;
				padding: 3px 0;

				a {
					border-bottom: none !important;
				}
			}
		}
	}

	li a {
		padding: 10px 0;

		&:hover {
			@apply text-turquoise;
		}
	}

	li:not(:first-child) {
		@apply ml-8;
	}

	li.current_page_item a {
		border-bottom: 3px solid theme('colors.turquoise');
	}
}
