.c-menu-mobile {
	@apply hidden;
	@apply mb-0;
	@apply w-full;

	li {
		@apply block;

		a {
			@apply block;
			@apply px-6;
			@apply py-3;
			@apply text-center;
		}
	}

	li:nth-child(odd) a {
		@apply bg-gray-200;
	}
}
