.c-search__bar {
    @apply absolute;
    @apply bg-gray-900;
    @apply hidden;
    @apply py-8;
    @apply w-full;
    @apply z-50;
    @apply text-lg;

    a {
        @apply text-white;
    }

    input {
        @apply bg-gray-900;
        @apply text-lg;
        @apply text-white;

        &:focus {
            outline: none;
        }
    }
}

.c-search__bg {
    @apply hidden;
    @apply fixed;
    @apply bg-gray-900;
    @apply inset-0;
    @apply z-40;

    opacity: 0.9;
}
