.c-sidebar {

	form {

		.gform_footer {
			margin: 0 !important;
		}

		li.gfield {
			padding: 0 !important;
		}

		label {
			display: none !important;
		}

		input, select, textarea {
			@apply rounded;
			padding: 8px 14px !important;
			width: 100% !important;

			&:focus {
				outline: none !important;
			}
		}

		select {
			height: 41px;
		}

		input[type=submit] {
			background: rgba(0, 0, 0, 0.25);
			border-radius: 25px;
			cursor: pointer;
			display: block !important;
			color: white;
			margin: 0 auto !important;
			padding: 12px 20px !important;
			width: 150px !important;
		}
	}
}
