.c-states {
	li {
		a {
			@apply bg-white;
			@apply flex;
			@apply font-bold;
			@apply items-center;
			@apply px-4;
			@apply py-2;
			@apply rounded;
			@apply shadow-lg;

			img {
				@apply mr-4;
				width: 100px;
			}
		}

		&:not(:last-child) {
			@apply mb-3;
		}
	}
}

.grid-states {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@screen md {
		margin-top: -150px;
	}

	li {
		margin: 10px 0;
		width: 100%;

		@screen md {
			margin: 10px;
			width: calc(25% - 20px);
		}
		a {
			@apply block;
			@apply bg-white;
			@apply font-bold;
			@apply p-4;
			@apply pb-8;
			@apply rounded;
			@apply shadow-lg;
			@apply text-center;

			img {
				margin: 0 auto;
				width: 200px;
			}
		}
	}
}
