.c-video {
	position: relative;
	overflow: hidden;

	video {
		@apply bg-black;
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		min-width: 100%;
		height: auto;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
		z-index: -1;
	}
}

@media (max-width: 960px) {
	.c-video {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/lazy.jpg') center center / cover no-repeat;
		video { display: none; }
	}
}
