.c-youtube {
	@apply block;
	@apply fixed;
	@apply z-20;

	right: 0;
	bottom: 25%;

	background-color: shade(#08b8b0, 25%);

	@apply rounded-t;
	@apply p-4;
	@apply text-sm;
	@apply text-white;
	@apply tracking-wider;
	@apply uppercase;

	transform-origin: right bottom;
	transform: rotate(-90deg);
}

.c-youtube__wrap {
	@apply hidden;
	@apply relative;

	a.jq-youtube {
		@apply absolute;
		right: 30px;
		top: 20px;
		@apply z-50;
		@apply text-white;
		@apply text-2xl;
	}
}

.c-youtube__modal {
	@apply fixed;
	@apply inset-0;
	@apply z-40;

	background: rgba(#1a202c, 0.9);

	@apply flex;
	@apply items-center;
	@apply justify-center;
}

.c-youtube__box {
	width: 800px;
}
