.owl-carousel__slide {
	@apply bg-white;
	@apply p-6;

	@screen md {
		min-height: 445px;
		width: 300px;

		h1 {
			font-size: 80px;
		}
	}

	p:first-of-type {
		@apply font-bold;
		@apply uppercase;
	}
}

.owl-carousel__slide--first {
	@apply py-6;
	@apply px-6;

	@screen md {
		@apply px-12;
		width: 500px;
	}
}

.owl-nav {
	@apply absolute;
	@apply w-full;
	@apply z-20;
	top: 40%;

	button {
		background: theme('colors.gray.900') !important;
		color: white !important;
		display: block !important;
		position: absolute !important;
		font-size: 36px !important;

		&:focus {
			outline: none;
		}

		span {
			display: block !important;
			padding: 10px 8px !important;
		}
	}

	.owl-prev {}

	.owl-next {
		right: 0;
	}
}
