@font-face {
	font-family: 'Dyslexie';
	src: url('fonts/Dyslexie-Regular.eot');
	src: url('fonts/Dyslexie-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Dyslexie-Regular.woff') format('woff'),
		url('fonts/Dyslexie-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
