.container {
    max-width: 1200px;
    @apply px-6;
}

%grid {
    display: grid;
    grid-gap: 3rem;
}

.grid-2 {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-3 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-4 {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-sidebar {
    @extend %grid;

    @screen lg {
        grid-template-columns: 7fr 3fr;
    }
}
