a {
    text-decoration: none;
    word-break: break-all;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-sans;
    @apply leading-none;
    @apply text-gray-800;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p, ul {
    @apply mb-6;
}

h1, h2, h3, h4 {
    @apply font-bold;
    line-height: 1.25;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }

@screen lg {
    h1 { font-size: 42px; }
    h2 { font-size: 34px; }
    h3 { font-size: 28px; }
    h4 { font-size: 24px; }
}

p, ul, ol {
    line-height: 1.6;
}

p + h2,
p + h3,
p + h4,
ul + h2,
ul + h3,
ul + h4 {
    @apply mt-2;
}

@media only screen and (max-width: 767px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

@media print {
    .hide-print {
        display: none !important;
    }
    .show-print {
        display: block !important;
    }
}

.content-area {
    a:not(.bg-turquoise) {
        @apply text-turquoise;
        @apply font-bold;
    }
    ul, ol {
        margin-left: 23px;
    }
    ul li {
        list-style: disc;
    }
    ol li {
        list-style: decimal;
    }
}
